# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_API_KEY=APIuhoqTrFb4qDL
LIVEKIT_API_SECRET=<your_api_secret>
LIVEKIT_URL=wss://4d6y3uev9ev.sip.livekit.cloud
NEXT_PUBLIC_CONN_DETAILS_ENDPOINT = 